.nav-link
{
    color: black;
    transition: 0.3s;
}
.nav-link:hover
{
    color: rgb(150, 150, 236);
    /* font-size: 1.05rem; */
}

.navbar-toggler
{
    transition: 0.3s;
    outline: none;
    border: none;
}
.navbar-toggler:focus
{
    color: rgb(77, 128, 215);
    box-shadow: none;
}
.icons a
{
    transition: all 0.5s ease-in-out;
}
.icons a:hover
{
    /* transform: scale(1.5); */
    color: wheat;
    background-color: rgb(92, 92, 223);
}

.form-control:focus
{
    box-shadow: none;
}

.banner 
{
    max-width: 100%;
    height: 250px;          /* screen ke hisaab se height */
    overflow: hidden;
}
.banner img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;    /* ratio maintain + no stretch */
    object-position: center;
}

/* OVERLAY */
.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* BORDER + TEXT */
.overlay span {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px 60px;
    font-size: 24px;
    letter-spacing: 3px;
    
}


.post-img:hover .overlay {
    opacity: 1;
}